.base-select {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__label {
    @include font-body-text();
    color: $text-default-secondary;
    display: block;
    padding: $m2 0;
  }

  &__field {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__control {
    @include font-body-text();
    width: 100%;
    min-height: $m16;
    padding: $m3 $m12 $m3 $m6; // правый паддинг под иконку
    border: 1px solid $surface-default-stroke;
    border-radius: $m4;
    background-color: $surface-default-primary;
    color: $text-default-primary;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition:
      border-color 0.2s ease,
      box-shadow 0.2s ease;
  }

  &__icon {
    position: absolute;
    right: $m4;
    pointer-events: none;
    color: $text-default-secondary;
  }

  &__message {
    @include font-body-caption();
    color: $text-default-secondary;
    display: block;
    padding: $m2 0;

    &--error {
      color: $text-default-danger;
    }
  }

  &--placeholder {
    .base-select__control {
      color: $text-default-label;
    }
  }

  &--disabled {
    .base-select__label,
    .base-select__message,
    .base-select__icon {
      color: $text-disabled-primary;
    }

    .base-select__control {
      border-color: $surface-disabled-stroke;
      background-color: $surface-disabled-primary;
      color: $text-disabled-primary;
      cursor: not-allowed;
    }
  }

  &--error {
    .base-select__control {
      border-color: $surface-default-danger-accent;
    }
  }
}
