/* =========================================
   Colors - Mode 1
========================================= */

/* Accent */
$accent-0: #fafaff;
$accent-100: #ebecff;
$accent-200: #bcbfff;
$accent-300: #9ea3ff;
$accent-400: #7f89ff;
$accent-500: #606fff;
$accent-600: #3d4efd;
$accent-700: #1a2efb;
$accent-800: #071aea;
$accent-900: #003b72;
$accent-1000: #00264a;

/* Green */
$green-0: #dff2df;
$green-100: #dff2df;
$green-200: #bfe5c1;
$green-300: #90d095;
$green-400: #58b466;
$green-500: #1c943e;
$green-600: #007424;
$green-700: #005b16;
$green-800: #004a11;
$green-900: #004410;
$green-1000: #00330c;

/* Neutral */
$neutral-0: #ffffff;
$neutral-100: #ededef;
$neutral-200: #dbdcdf;
$neutral-300: #bfc1c6;
$neutral-400: #9fa1a8;
$neutral-500: #7e8088;
$neutral-600: #61636a;
$neutral-700: #4a4c52;
$neutral-800: #3c3e43;
$neutral-900: #38393d;
$neutral-1000: #17191f;

/* Orange */
$orange-0: #ffecdb;
$orange-100: #ffdec0;
$orange-200: #ffc799;
$orange-300: #fda65b;
$orange-400: #e5821f;
$orange-500: #d06b00;
$orange-600: #b85600;
$orange-700: #9d4400;
$orange-800: #813500;
$orange-900: #642800;
$orange-1000: #3b1800;

/* Red */
$red-0: #fff3f0;
$red-100: #ffe4dc;
$red-200: #ffc9bb;
$red-300: #ffa08c;
$red-400: #ff6e5c;
$red-500: #ee3c34;
$red-600: #c6101c;
$red-700: #9f0010;
$red-800: #83000b;
$red-900: #79020a;
$red-1000: #570006;
