$icon-default-accent: $accent-500;
$icon-default-danger: $red-500;
$icon-default-primary: $neutral-1000;
$icon-default-secondary: $neutral-500;
$icon-default-tertiary: $neutral-0;
$icon-disabled-accent: $neutral-0;
$icon-disabled-primary: $neutral-0;
$icon-disabled-secondary: $neutral-300;
$icon-disabled-tertiary: $neutral-0;