/* =========================================
   Модульная система — LMS Атриум
   1 модуль = 2px
   Переменные $m0, $m1, $m2 ... используются для:
   - отступов
   - радиусов
========================================= */

/* -------------------- Модули -------------------- */
$m0: 0px;    // 0 модулей
$m1: 2px;    // 1 модуль
$m2: 4px;    // 2 модуля
$m3: 6px;    // 3 модуля
$m4: 8px;    // 4 модуля
$m5: 10px;   // 5 модулей
$m6: 12px;   // 6 модулей
$m7: 14px;   // 7 модулей
$m8: 16px;   // 8 модулей
$m9: 18px;   // 9 модулей
$m10: 20px;  // 10 модулей
$m12: 24px;  // 12 модулей
$m16: 32px;  // 16 модулей
$m20: 40px;  // 20 модулей

/* -------------------- Скругления -------------------- */
$radius-full: 9999px; // для круглых элементов
