/* =========================================
   Минималистичный Reset — LMS Атриум
========================================= */

/* Box-sizing и сброс отступов */
.app{
  min-height: 101vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

/* Списки и блоки цитат */
ul,
ol {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
}

/* Таблицы */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Ссылки */
a {
  text-decoration: none;
  color: inherit;
}

/* Основные элементы страницы */
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Manrope', 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: $surface-default-secondary;
  color: $text-default-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-gutter: stable;
}

/* Медиа элементы */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
  -webkit-user-drag: none;
  user-select: none;
}

/* Формы */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* Разрешаем палочку ТОЛЬКО там, где она нужна */
input,
textarea,
[contenteditable='true'] {
  cursor: text;
}

/* Кнопки */
button {
  cursor: pointer;
}

/* Textarea */
textarea {
  resize: none;
}

/* Fieldset / Legend */
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
}

/* Placeholder */
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #a0a0a0;
}

/* Checkbox / Radio */
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Все наследуют шрифт и цвет */
body,
input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
